<div class="clr-row">
  <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">

    <div class="card">
      <div class="card-img">
        <img src="/assets/pfp/sus.jpg"/>
      </div>
      <h3 class="card-header">Eboru (Iván Garza)</h3>
      <div class="card-block">
        <h4 class="card-title">{{ 'eboru.title' | translate}}</h4>
        <div class="card-text">
          <ul class="list">
            <li>{{ 'eboru.l1' | translate}}</li>
            <li>{{ 'eboru.l2' | translate}}</li>
            <li>{{ 'eboru.l3' | translate}}</li>
            <li>Español, English, 日本語</li>
          </ul>
        </div>
      </div>
      <div class="card-footer">
        <div class="clr-row clr-justify-content-around">
          <div class="clr-col-auto">
            <a href="https://twitter.com/EborumAnima" style="margin-right: 2rem;"><i class="fa-brands fa-twitter fa-2xl"></i></a>
          </div>
          <div class="clr-col-auto">
            <a href="https://github.com/Eboru" target="_blank"><i class="fa-brands fa-github fa-2xl"></i></a>
          </div>
      </div>


      </div>
    </div>
  </div>
</div>
