<h5>{{'post.directions' | translate}}</h5>
<form clrForm [formGroup]="form" (submit)="submit()">
  <clr-input-container>
    <label>{{'post.username' | translate}}</label>
    <input clrInput formControlName="Publisher" />
    <clr-control-helper>{{'post.notification' | translate}}</clr-control-helper>
    <clr-control-error>{{'post.required' | translate}}</clr-control-error>
  </clr-input-container>
  <clr-textarea-container>
    <label>{{'post.message' | translate}}</label>
    <textarea clrTextarea formControlName="Message"></textarea>
    <clr-control-helper>{{'post.yourMessage' | translate}}</clr-control-helper>
    <clr-control-error>{{'post.required' | translate}}</clr-control-error>
  </clr-textarea-container>
  <button style="margin-top: 1rem;" type="button" class="btn btn-primary" (click)="openMap = true">
    <clr-icon shape="map"></clr-icon>
    {{'post.editLocation' | translate}}
  </button>
  <div>
    <div>
      {{lat}}
    </div>
    <div>
      {{lng}}
    </div>
  </div>

  <div>
    <button class="btn btn-success" style="margin-top: 1rem;" [disabled]="!form.valid || disablePublish">
      <clr-icon shape="upload"></clr-icon>
      {{'btn.publish' | translate}}
    </button>
  </div>
</form>

<div class="modal" [hidden]="!openMap">
  <div class="modal-dialog modal-xl fadeDown in" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{'post.chooseLocation' | translate}}</h3>
        <h6>{{'post.locationWarning' | translate}}</h6>
      </div>
      <div class="modal-body">
        <div class="map-container">
          <div class="map-frame">
            <div id="map2"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeMap()">
          {{'btn.accept' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade in" aria-hidden="true" *ngIf="openMap"></div>


<div class="modal" *ngIf="popError">
  <div class="modal-dialog modal-xl fadeDown in" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{'errors.oh' | translate}}</h3>
      </div>
      <div class="modal-body">
        {{errorMessage}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="popError = false">
          {{'btn.accept' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade in" aria-hidden="true" *ngIf="popError"></div>

<div class="modal" *ngIf="success">
  <div class="modal-dialog modal-xl fadeDown in" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{'post.success' | translate}}</h3>
      </div>
      <div class="modal-body">
        {{'post.ok' | translate}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="redirect()">
          {{'btn.accept' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade in" aria-hidden="true" *ngIf="success"></div>

