<div class="login-wrapper">
  <form class="login" [formGroup]="form" (submit)="submit()">
      <section class="title">
          <h3 class="welcome">{{'admin.welcomeMessage' | translate}}</h3>
          {{'admin.dlovers' | translate}}
      </section>
      <div class="login-group">
          <clr-input-container>
              <label class="clr-sr-only">{{'admin.username' | translate}}</label>
              <input type="text" name="username" clrInput placeholder="{{'admin.username' | translate}}" formControlName="username" required=""/>
          </clr-input-container>
          <clr-password-container>
              <label class="clr-sr-only">{{'admin.password' | translate}}</label>
              <input type="password" name="password" clrPassword placeholder="{{'admin.password' | translate}}" formControlName="password" required/>
          </clr-password-container>
          <div class="error active" *ngIf="loginError">
            {{'errors.invalidUser' | translate}}
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid || disableBtn">{{'btn.next' | translate}}</button>
      </div>
  </form>
</div>
